.layout-nav {
    grid-area: sidebar;
    padding-inline: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;

    &.collapsed {
        padding-inline: 10px;
        width: 80px;
    }

    & .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-inline: 10px;

        &.collapsed {
            padding-inline: 0;
        }

        & .ant-typography {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            transition-delay: 0.2s;
        }
    }

    &.collapsed .nav-logo .ant-typography {
        opacity: 0;
        transition-delay: 0s;
        display: none;
    }

    & .nav-list {
        list-style: none;
        display: flex;
        gap: 8px;
        flex-direction: column;
        overflow-y: auto;
        scroll-timeline: --scroll;

        & a {
            text-decoration: none;
        }

        & .nav-list-item {
            display: flex;
            align-items: center;
            gap: 12px;
            line-height: normal;
            text-box: cap alphabetic;
            font-weight: 500;
            word-break: break-word;
            user-select: none;
            padding: 10px;
            border-radius: 8px;
            border: solid 1px transparent;

            & p {
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                transition-delay: 0.2s;
            }

            &:hover {
                border: solid 1px color-mix(in srgb, transparent, var(--color-secondary) 30%);
            }

            &:where(.selected) {
                background: var(--color-primary);
                color: #fff;
            }

            & .item-icon {
                min-height: var(--icon-nav-size);
                min-width: var(--icon-nav-size);
                font-size: 26px;
            }
        }
    }

    &.collapsed .nav-list-item p {
        opacity: 0;
        transition-delay: 0s;
        display: none;
    }
}