@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a60d12;
  --color-secondary: #aeafb1;
  --color-tertiary: #0000;
  --color-accent: #f2f0f0;
  --color-accent-contrast: #2e2e2f;
}

/* hay que revisar se le va a poner dark mode como un plus*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-secondary))
    )
    rgb(var(--color-accent));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
