@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #a60d12;
  --color-secondary: #aeafb1;
  --color-accent: #f2f0f0;
  --color-accent-contrast: #2e2e2f;
  --icon-nav-size: 24px;
  --nav-title-display: inline-block;
  --first-stat-color: #666cff;
  --second-stat-color: #72e128;
  --third-stat-color: #26c6f9;
  --fourt-stat-color: #fdb528;
  --positive-growth-color: #72e128;
  --negative-growth-color: #ff4d4f;
}

/* hay que revisar se le va a poner dark mode como un plus*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}

body {
  color: rgb(var(--color-accent-contrast));
  background: var(--color-accent);
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-typography {
  &.ant-typography {
    font-family: "Inter", sans-serif;
  }
}

.ant-btn-primary {
  font-family: "Inter", sans-serif;
  background-color: var(--color-primary);

  &:hover {
    background-color: color-mix(in srgb, var(--color-primary) 90%, transparent 20%) !important;
  }
}

.ant-radio-checked .ant-radio-inner {
  background-color: color-mix(in srgb, var(--color-primary) 90%, transparent 40%) !important;
  border-color: var(--color-primary) !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
  opacity: 0; /* Start invisible */
}