@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #a60d12;
  --color-secondary: #aeafb1;
  --color-accent: #f2f0f0;
  --color-accent-contrast: #2e2e2f;
  --icon-nav-size: 24px;
  --nav-title-display: inline-block;
}

/* hay que revisar se le va a poner dark mode como un plus*/
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--color-accent-contrast));
  background: var(--color-accent);
  height: 100dvh;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-typography {
  &.ant-typography {
    font-family: "Inter", sans-serif;
  }
}