.admin-home-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "sellcard sellcard sellcard"
        "monthly-sales-compare monthly-sales-compare monthly-sales-compare"
        "betterseller byplace bypaymethod";
    gap: 20px;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    padding: 20px 10px;
}

.table-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.sell-card {
    grid-area: sellcard;
}

.month-graph {
    grid-area: monthly-sales-compare;
}

.better-seller {
    grid-area: betterseller;
}

.by-place {
    grid-area: byplace;
}

.by-pay-method {
    grid-area: bypaymethod;
}